[project]
	description = P2P Messaging Library For Android
[access "refs/*"]
	owner = group user/İlkin Balkanay (ilkinulas)
[access "refs/for/refs/*"]
	read = group user/İlkin Balkanay (ilkinulas)
	push = group user/İlkin Balkanay (ilkinulas)
	label-Code-Review = -2..+2 group user/İlkin Balkanay (ilkinulas)
	label-Verified = -1..+1 group user/İlkin Balkanay (ilkinulas)
	rebase = group user/İlkin Balkanay (ilkinulas)
	removeReviewer = group user/İlkin Balkanay (ilkinulas)
	submit = group user/İlkin Balkanay (ilkinulas)
[access "refs/heads/*"]
	read = group user/İlkin Balkanay (ilkinulas)
	create = group user/İlkin Balkanay (ilkinulas)
	push = +force group user/İlkin Balkanay (ilkinulas)
	pushMerge = group user/İlkin Balkanay (ilkinulas)
[access "refs/tags/*"]
	push = +force group user/İlkin Balkanay (ilkinulas)
	pushTag = group user/İlkin Balkanay (ilkinulas)
	pushSignedTag = group user/İlkin Balkanay (ilkinulas)
